<% include partials/header.ejs %>

    <div class="container welcome">
        <div class="row">
            <h1 class="">Welcome <%= user.fullname %></h1>
            <img src="/uploads/angular.jpg" alt="" class="img-responsive">
        </div>
    </div>

<%include partials/footer.ejs%>