<% include partials/header.ejs %>
<div class="container about">
    <div class="row">
        <div class="col-sm-8">
            <div class="well">Address: <b><i>HaNoi City, VietNam</i></b></div>
            <div class="well">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29793.996973529524!2d105.81945408744352!3d21.02269575409251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9bd9861ca1%3A0xe7887f7b72ca17a9!2zSGFub2ksIEhvw6BuIEtp4bq_bSwgSGFub2ksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1479361345636" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-4 about-author">
            <div id="name">
                <h3 class="text-center"><b>TuNguyen</b></h3>
                <h5 class="text-center">Full-stack Javascript</h5>
            </div>
            <img src="/uploads/author.png" alt="" class="img-responsive img-circle">
            <div id="description">
                <p class="text-center">Now i'm studying in an university of VietNam. This is second project with NodeJS & MongoDB by me.</p>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>
