<% include partials/header.ejs %>
<div class="container contact">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <%- messages() %>
                </div>
            </div>
            <div class="well">
                <p class="contact-title">Contact with TuNguyen</p>
                <p style="font-size: 18px">Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!</p>
                <form action="/contact.htm" method="post" role="form">
                	<div class="form-group">
                		<label for="name">Name</label>
                		<input type="text" class="form-control" name="name" id="name" placeholder="Name..." autofocus required>
                	</div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email Address..." required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" class="form-control" rows="6" placeholder="Message..." required></textarea>
                    </div>
                	<button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
        <div class="col-sm-4 about-author">
            <div id="name">
                <h3 class="text-center"><b>TuNguyen</b></h3>
                <h5 class="text-center">Full-stack Javascript</h5>
            </div>
            <img src="/uploads/author.png" alt="" class="img-responsive img-circle">
            <div id="description">
                <p class="text-center">Now i'm studying in an university of VietNam. This is second project with NodeJS & MongoDB of me.</p>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>