<a id="back-to-top" href="#" class="btn btn-warning btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
    <footer>
        <p class="text-center">
            <a href="https://www.facebook.com/nguyenminh.tu.90" class="btn btn-social-icon btn-facebook btn-lg" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;
            <a href="https://twitter.com/NguynMi96974362" class="btn btn-social-icon btn-twitter btn-lg" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;
            <a href="https://github.com/nguyenminhtu" class="btn btn-social-icon btn-github btn-lg" target="_blank"><i class="fa fa-github"></i></a>&nbsp;
        </p>
        <p class="text-center">
            Copyright &copy; 2016, <a href="/">Shop Game</a>. All Rights Reserved.
        </p>
        <p class="text-center">Designed & Hosted by [TuNguyen]</p>
    </footer>

<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/client.js"></script>
</body>
</html>
