<!DOCTYPE html>
<html>
<head>
    <title><%= title %>%></title>
    <base href="/">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/lib/bootstrap-social-buttons/social-buttons.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a class="navbar-brand" href="">Shopping Online</a>
    <ul class="nav navbar-nav">
        <li class="">
            <a href="/"><i class="glyphicon glyphicon-home"></i>&nbsp;Homepage</a>
        </li>
        <li>
            <a href="/about.htm">&nbsp;About</a>
        </li>
        <li>
            <a href="/contact.htm">&nbsp;Contact</a>
        </li>
        <li>
            <a href="/cart.htm"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;Shopping Cart</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if(!user){ %>
            <li><a href="/users/signup"><i class="glyphicon glyphicon-user"></i>&nbsp;Register</a></li>
            <li><a>|</a></li>
            <li><a href="/users/signin"><i class="glyphicon glyphicon-log-in"></i>&nbsp;Sign In</a></li>
            <li>&nbsp;&nbsp;&nbsp;</li>
        <%}else{%>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i>&nbsp;<%= user.fullname %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/users/signout"><i class="glyphicon glyphicon-log-out"></i>&nbsp;Logout&nbsp;</a></li>
                </ul>
            </li>
            <li>&nbsp;&nbsp;&nbsp;</li>
        <%}%>
    </ul>
</nav>
<section id="slider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/uploads/slider1.jpg" alt="slider1">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="/uploads/slider2.jpg" alt="slider2">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="/uploads/slider3.jpg" alt="slider3">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="/uploads/slider4.jpg" alt="slider4">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="/uploads/slider5.jpg" alt="slider5">
                <div class="carousel-caption">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>