*{margin: 0px;padding: 0px;}
section#slider{margin-top: 50px;}
section#slider img{width: 100%;height: auto;}
.navbar-fixed-top .navbar-nav > li > a{color: #000}
.navbar-fixed-top .navbar-brand {color: #000}
nav#menu{border-radius: 0px;font-size: 15px;}
nav#menu ul.menu-item li > a{color: #000}
footer{width: 100%;height: 250px;padding: 80px 50px 50px 50px;background-color: #222222;color: #fff;margin-top: 40px;}
div.main{margin-top: 30px}
div.item strong{font-size: 20px;}
div.item img{width: 70%;height: 200px;margin-left: 36px;}
.back-to-top {cursor: pointer;position: fixed;bottom: 20px;right: 20px;display:none;}
.menu-item li{border-right: 1px solid #e1e1e1;padding: 0px 10px;}
.menu-item li:last-child{border-right: none}
.menu-item li:first-child{border-right: none}

.about{margin-top: 55px;margin-bottom: 40px;}
.about-author{position: relative;}
.about-author #name{background-color: #0057e5;color: #fff;padding: 7px 20px 60px 20px;}
.about-author img{width: 120px;height: auto;border: 3px solid #fff;position: absolute;top: 29%;left: 36%}
.about-author #description{background-color: #250205;padding: 70px 40px 70px 40px}
.about-author #description p{text-indent: 17px;text-align: justify;color: #fff}
.contact{margin-top: 55px;margin-bottom: 40px;}
.contact p.contact-title{font-size: 30px;font-weight: bolder;text-shadow: 4px 3px 4px rgba(150, 150, 150, 1);}