
    <footer>
        <p class="text-center">
            Admin Area, Copyright &copy; 2016, All Rights Reserved
        </p>
    </footer>


    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/admin.js"></script>
</body>
</html>